body {
  padding: 50px 0;
  margin: 0 auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  font-family: Arial, sans-serif;
  text-align: center;
}

header img {
  width: 80%;
}

section {
  width: 80%;
  margin: 20px auto;
}

hr {
  width: 80%;
}
